.MyStackBox {
    min-height: 85vh;
    width: 100%;
    position: relative;
    top: -100px;
    display: flex;
    justify-content: center;
}

.MyStackBoxContent {
    width: 90%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    border: 1px solid whitesmoke;
    box-shadow: -4px -2px 37px 5px #5e5e5e;
    background: white;
}

.MyStackFront {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-right: 1px solid #5e5e5e38;
}

.MyStackBack {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.MyStackLogo {
    height: 60px;
    width: 60px;
}

.MyStackLogo svg {
    fill: #de9903;
}

.MyStackTitle {
    height: 160px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.StackTitle {
    height: 30px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2em;
}

.MyStackStack {
    height: 110px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Stack {
    height: 50px;
    width: 80%;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #de9903;
    font-weight: bold;
}

.StackItem {
    height: 50px;
    width: 80%;
    font-size: 0.8em;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.MyStackTools {
    height: 150px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.StackTools {
    height: 30px;
    width: 80%;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #de9903;
    font-weight: bold;
}

.StackItemTools {
    height: 110px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.StackItemTools ul {
    height: 100px;
    width: 50%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.StackItemTools li {
    width: 80%;
    font-size: 0.8em;
    font-style: italic;
}

@media screen and (max-width: 1024px) {
    .MyStackBox {
        min-height: 45vh;
    }
}

@media screen and (max-width: 768px) {
    .MyStackBoxContent {
        align-items: center;
        justify-content: space-around;
        box-shadow: none;
        flex-direction: column;
        flex-wrap: wrap;
        background: none;
        border: none;
        min-height: 1500px;
    }

    .MyStackFront {
        height: 560px;
        width: 80%;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border: 1px solid #5e5e5e38;
        background: white;
        box-shadow: -4px -2px 37px 5px #5e5e5e;
        border-radius: 40px;
    }
    
    .MyStackBack {
        height: 560px;
        width: 80%;
        border: 1px solid #5e5e5e38;
        background: white;
        box-shadow: -4px -2px 37px 5px #5e5e5e;
        border-radius: 40px;
    }
}

@media screen and (max-width: 720px) {
    .MyStackBoxContent {
        min-height: 1300px;
    }

    .MyStackBox {
        top: -60px;
    }

    .MyStackFront {
        height: 480px;
        width: 90%;
        justify-content: space-around;
    }

    .MyStackTitle {
        height: 100px;
    }
    
    .MyStackBack {
        height: 480px;
        width: 90%;
        justify-content: space-around;
    }
}

@media screen and (max-width: 414px) {
    .MyStackBoxContent {
        min-height: 1200px;
    }

    .MyStackFront {
        height: 430px;
    }
    
    .MyStackBack {
        height: 430px;
    }
    
    
    .MyStackTitle {
        height: 85px;
    }
    
    .StackDescription {
        font-size: 0.9em;
        height: 50px;
    }
    
    .MyStackStack {
        height: 65px;
    }
    
    .Stack {
        height: 30px;
    }
    
    .StackItem {
        height: 30px;
    }
}